.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .carousel-item img {
        height: 350px; 
    }
}

@media screen and (max-width: 576px) {
    .carousel-item img {
        height: 300px; /* Adjust height for extra small screens */
    }
}

  .carousel-item img {
    height: 350px;
  }